<div id="form">
 <form action="/create" method="post">
  <div class="well span3">
    <legend>Add a video!</legend>
    <label>Tile</label>
    <input type="text" name="title">
    <label>Description</label>
    <input type="text" name="description">
    <label>URL</label>
    <input type="text" name="url">
    <label>Genre</label>
    <input type="text" name="genre">
    <button class="btn btn-primary">Submit</button>
  </div>
 </form>
</div>

