<div id="form">
 <form action="/create" method="post">
  <div class="well span3">
    <h1>Add a video!</h1>
    <label>Tile</label>
    <input type="text" name="title" placeholder="~>">
    <label>Description</label>
    <input type="text" name="description" placeholder="~>">
    <label>URL</label>
    <input type="text" name="url" placeholder="~>">
    <label>Genre</label>
    <input type="text" name="genre" placeholder="~>">
    <button class="btn btn-primary">Submit</button>
  </div>
 </form>
</div>

