<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css"  href="css/style.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <script src='/js/jquery-2.0.2.min.js'></script>
  <script src='/bootstrap/js/bootstrap.js'></script>
  <title> Video Store</title>
</head>
<body>
      <div class="navbar">
        <div class="container">
          <div class="navbar-inner">
            <div class="brand" href="http://localhost:4567/">You2ube</div>
            <ul class="nav">
              <li><a href="http://localhost:4567/">Home</a></li>
              <li><a href="http://localhost:4567/my_videos">Your Videos</a></li>
            </ul>
          </div>
        </div>
      </div>
</body>
</html>
<%= yield %>
